<%- include ../partials/header %>  <%- include ../partials/categories-navbar %>
<div class="container">
  <!-- Flash messages -->
  <div class="row mt-3 mb-3">
    <div class="col-md-12 m-auto">
      <% if (successMsg) { %>
      <div id="success" class="alert alert-success">
        <%= successMsg %>
      </div>
      <% } else { %>
      <div id="success" class="alert alert-success d-none"></div>
      <% } %>
    </div>
    <div class="col-md-12 m-auto">
      <% if (errorMsg) { %>
      <div id="error" class="alert alert-danger">
        <%= errorMsg %>
      </div>
      <% } else { %>
      <div id="error" class="alert alert-danger d-none"></div>
      <% } %>
    </div>
  </div>
  <!-- Product info -->
  <div class="row mt-4 mb-4">
    <div class="col-md-5 mt-2  ml-auto">
      <img
        src="<%=product.imagePath%>"
        class="img-fluid product-img"
        alt="product image"
      />
    </div>
    <div class="col-md-5 mt-2 mb-2  mr-auto text-dark">
      <h2><%=product.title%></h2>
      <hr />
      <p class="price">USD $<%=product.price%></p>
      <p class="lead"> Description: 
        <p><%=product.description%></p>
      </p>
      
      <p><strong>Category:</strong> <%=product.category.title%></p>
      <p><strong>Brand: </strong><%=product.manufacturer%></p>
      <p><strong>Product code:</strong> <%=product.productCode%></p>
      <p><strong>Date added to the store:</strong> <%= moment(product.createdAt).format( 'MMMM Do YYYY')%></p>
      <% if(product.available) {%>
      <p class="is-available text-center">In stock</p>
      <a href="/add-to-cart/<%=product._id%>" class="btn btn-block btn-secondary mt-3 mb-3 button-style">
        Add to Shopping Cart
      </a>
      <% } else { %>
      <p class="is-not-available text-center">Sold out</p>
      <%} %>
      </div>
    <div class="col-md-2 mt-2  ml-auto">
     <div class="d-flex row py-2 px-auto  bg-light">
					<div class="green-tab p-2 px-3 mx-lg-auto">
						<p class="sm-text mb-0">OVERALL RATING</p>
						<h4><%= overAllScore %></h4>
					</div>
					<div class="white-tab p-2 mx-lg-auto  text-muted">
						<p class="sm-text mb-0">ALL REVIEWS</p>
						<h4><%= count %></h4>
					</div>
				</div> 
    </div>
  </div>
  <!--the review section-->
  <% if(dbreview) {%>
  <div class="row">
    <% dbreview.forEach((review,index) => { %>
    <div class="col-md-5 rev">
      <h4><%=dbreview[index].user.username%></h4>
     <p class="rev-body"><%= dbreview[index].reviewBody%> </p>
     <p class="time"><%= dbreview[index].createdAt.toUTCString()%></p>
    </div><% }); %>
  <%}%>
    
  </div> 
  <!--review form-->
  <% if(user){ %>
  <div class="container rev-form">
  <form action="/products/<%=product.category.slug%>/<%=product._id%>" method="post">
    <div class="form-group shadow-textarea">
      <label for="textarea">Review the product</label>
      <textarea name= "takethis" class="form-control z-depth-1" id="textarea" rows="3" placeholder="Write something here..."></textarea>
      <button type="submit" class="btn mt-2 button-style ">Submit</button>
    </div> 
  </form>
  </div>
<% } %>
<%- include ../partials/footer %>
